<h1>{{ errorPage.heading }}</h1>

<p>
    <a href="{{ appBase }}">{{ errorPage.homeLink }}</a>
</p>

{% for exception in exceptions %}
    <phue-app-exception code="{{ exception.statusCode }}" message='{{ exception.message }}'>
        <ul class="trace">
            {% for entry in exception.trace %}
                {% if entry.line %}
                    <li>
                        in <span class="file">{{ entry.file }}</span>
                        line <span class="line">{{ entry.line }}</span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </phue-app-exception>
{% endfor %}

