<!doctype html>
<html lang="{{ meta.language }}" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="{{ meta.robots }}"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="description" content="{{ meta.description }}"/>
    <meta name="viewport" content="{{ meta.viewport }}"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <meta name="og:site_name" content="{{ meta.name }}"/>
    <meta name="og:title" content="{{ pageTitle }}"/>
    <meta name="og:type" content="{{ meta.type.facebook }}"/>
    <meta name="og:image" content="{{ icons.facebook }}"/>

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "{{ meta.type.schema }}",
            "url": "{{ meta.url }}",
            "name": "{{ meta.name }}",
            "description": "{{ meta.description }}",
            "image": "{{ icons.schema }}"
        }
    </script>
    {% if meta.organization is defined %}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "name": "{{ meta.organization }}",
            "address": "{{ meta.address }}",
            "email": "{{ meta.email }}",
            "telephone": "{{ meta.phone }}"
        }
    </script>
    {% endif %}

    <base href="{{ appBase }}"/>

    <link rel="shortcut icon" href="{{ icons.browser }}?{{ appVersion }}" data-size="32x32"/>
    <link rel="apple-touch-icon" href="{{ icons.app }}?{{ appVersion }}" data-size="152x152"/>
    <link rel="manifest" href="{{ appBase }}manifest.json?{{ appVersion }}"/>
    <link rel="stylesheet" href="{{ appBase }}node_modules/vue-material/dist/vue-material.min.css?{{ appVersion }}" />

    <title data-suffix="{{ meta.titleSuffix }}">{{ pageTitle }}{{ meta.titleSuffix }}</title>
</head>
<body>
    {% block body %}
    <div id="app-container">
        <phue-app>
            <phue-app-header></phue-app-header>
            <phue-app-canvas>
                <phue-app-content>
                    {{ content|raw }}
                </phue-app-content>
            </phue-app-canvas>
            <phue-app-footer></phue-app-footer>
        </phue-app>
    </div>
    {% endblock %}

    <script type="text/javascript">
        {% block script %}

        window.phue = {
            appVersion: "{{ appVersion }}",
            appBase: "{{ appBase }}",
            appView: "{{ appView }}"
        };

        // hide app container until it gets initialized by phue-app
        document.querySelector('#app-container').style.opacity = 0;

        // load Promise polyfill if needed
        if (!window.Promise) {
            let script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'node_modules/native-promise-only/npo.js';
            document.head.appendChild(script);
        }

        // load app script
        let script = document.createElement('script');
        script.type = 'text/javascript';

        {% if debug %}script.src = '{{ appScript }}?' + Math.random();
        {% else %}script.src = '{{ appScript }}?{{ appVersion }}';
        {% endif %}

        document.head.appendChild(script);

        {% endblock %}
    </script>
</body>
</html>
