
<md-menu-item>
    <a href="{{ adminAreaHref }}">{{ adminAreaLabel }}</a>
    <md-icon md-src="{{ appBase }}{{ phueSrcPath }}Phue/Application/img/settings-icon.svg" />
</md-menu-item>

<md-menu-item>
    <router-link to="{{ passwordChangeHref }}">{{ passwordChangeLabel }}</router-link>
    <md-icon md-src="{{ appBase }}{{ phueSrcPath }}Phue/Application/img/key-icon.svg" />
</md-menu-item>

<md-menu-item>
    <phue-logout-link href="{{ logoutHref }}" token="{{ logoutToken }}">{{ logoutLabel }}</phue-logout-link>
    <md-icon md-src="{{ appBase }}{{ phueSrcPath }}Phue/Application/img/exit-icon.svg" />
</md-menu-item>
